<!DOCTYPE html>
<html lang="en" ng-app="crudApp" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webwithnft</title>
</head>

<body ng-controller="appCtrl">
    <div class="container">
        <!-- <uiView></uiView> -->
        <div ui-view></div>
    </div>
    <script src="js/angularjs/1.8.2/angular.min.js"></script>
    <script src="js/angular-ui-router-1.0.30/angular-ui-router.min.js"></script>
    <script src="js/home/app.js"></script>
    <script src="js/home/homeCtrl.js"></script>
    <script src="js/home/registerCtrl.js"></script>

    <script src="js/recaptcha/recaptcha-api.js"></script>
</body>

</html>